.actionIcon {
	cursor: pointer;
	size: 2rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 8px;
	color: white;
}

.content {
	padding: 0px 38px 16px;
}

.formItem {
	margin: 16px 16px;
}

.textDisplay {
	display: inline-block;
	margin: 16px 16px;
	padding: 4px 8px;
	background-color: white;
	width: 100%;
}

.formActionRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
